@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* --box-height: 95vh; */
  --outer-raduis: 1.5rem;
}

body {
  background-image: url(/src/assets/mainBG.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* font-family: 'Inter', serif !important; */
}
